@import '../../styles/theme.scss';

.completed-tasks {
  background-color: var(--bs-body-bg);
  padding: 1rem;
  border-radius: 4px;

  .title {
    font-size: 16px;
  }

  .description {
    font-size: 12px;
    color: #6a8996;
  }

  .chart-container {
    min-height: 200px;
  }
}
