.home-hello {
  margin-top: 2rem;
  font-size: 28px;
  color: #233C46;
}

.home-subtitle {
  color: #A1A1A1;
  font-size: 14px;
  line-height: 21px;
}

.home-productive {
  color: #4CD964;
}

.home-card {
  padding-top: 100px;
}

.home-new-item {
  border: none;
  border-radius: 15px !important;
  padding: 8px 16px;
  margin-left: 1rem;
  color: #fff;
  background-color: #233C46;
}

.home-new-item svg {
  margin-right: 1rem;
  color: #4CD964;
}
