<nav>
  <a routerLink="/home">Home</a> |
  <a routerLink="/tasks">Tasks</a> |
  <a routerLink="/notes">Notes</a> |
  <a routerLink="/account">My Account</a> |
  <a routerLink="/about">About</a> |
  <a href="javascript:void(0)" (click)="doLogout($event)">Logout</a>
</nav>

<hr>

<h1>Hello, User</h1>
<p>Welcome to TaskNote! Get ready to complete your pending tasks</p>
<h2>Start Your Day, Be</h2>
<h3>Productive</h3>

<a routerLink="/tasks/new">New task</a> | <a routerLink="#">New note</a>

<br>
<br>

<form>
  <label>Search task</label><br>
  <input type="text" placeholder="Search tasks & notes"/>
</form>

<br>

<div *ngIf="loading">Loading tasks...</div>
<div *ngIf="error" class="error">{{ error }}</div>

<button type="button" (click)="loadHighPriorityTasks()">
  High Priority
</button>
&nbsp;
<button type="button">
  All tasks
</button>

<ng-container *ngFor="let tag of tags">
  &nbsp;
  <button type="button">
    {{ tag }}
  </button>
</ng-container>

&nbsp;
<button type="button">
  Clear results
</button>

<p>Tasks summary:</p>
<ul>
  <li>Total Notes: 8</li>
  <li>Pending Tasks: 13</li>
  <li>Completed Tasks: 14</li>
</ul>
