.user-info-card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 4px;

  .title {
    font-size: 16px;
  }

  .description {
    font-size: 12px;
    color: #6a8996;
  }
}

.btn-icon-fix svg {
  margin-right: 1rem;
  margin-top: -3px;
}