$theme-colors: (
  'info': tomato,
  'danger': teal,
  'primary': #61cd8d,
);

@import '~bootstrap/scss/bootstrap';

$primary-color: #61cd8d;
$light-bg: #f8f9fa;
$dark-text: #343a40;

body {
  background-color: $light-bg;
}

a, .btn-link {
  color: $primary-color;
  text-decoration: none;
}

a:hover, .btn-link:hover {
  color: $primary-color;
}