$theme-colors: (
  'info': #2EB745,   /* old: #2EB745*/
  'primary': #2EB745, /* old: #61cd8d */
  'danger': #FB1A41, /* from design */
);

$dark-text: #343a40;

$btn-border-radius: 0.3rem;         // Default button border radius
$btn-border-radius-sm: 0.3rem;      // Small button border radius
$btn-border-radius-lg: 0.3rem;

$input-border-radius: 0.3rem;       // Default input border radius
$input-border-radius-sm: 0.3rem;    // Small input border radius
$input-border-radius-lg: 0.3rem; 